<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand mb-0 h1' href='/'>NodeJS education</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-tloggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item dropdown'>
                    <form class="d-flex" action="/search" method="GET">
                        <input class="form-control me-2" type="text" name="query" placeholder="Enter keyword">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        id='navbarDropdown'
                        role='button'
                        data-toggle='dropdown'
                        aria-haspopup='true'
                        aria-expanded='false'
                    >
                        <img
                            src="/img/img1.jpg"
                            alt='...'
                            class='user-avatar'
                            style="width:40px; height:40px; border-radius: 50%;"
                        />
                        {{user.name}}
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                        <a class='dropdown-item' href='/courses/create'>Đăng ký
                            khóa học</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/me/stored/courses'>Khóa
                            học của tôi</a>
                        {{#if isLoggedIn}}
                            <a class='dropdown-item' href="/logout">Đăng xuất</a>
                        {{else}}
                            <a class='dropdown-item' href="/login">Đăng nhập</a>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>