<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <form class="form1" method="post" action="/login" >
    <h1>Đăng nhập</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
      <p>{{email}}</p>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
      <p>{{password}}</p>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
  </form>
  <p class="form-login">Tạo tài khoản: <a href="./register">Đăng ký</a></p>
  </body>
</html> 

